body {
	background-color: #e1f5fe;
}

h3 {
	color: gray
}

#app {
	margin-top: 10%
}

.label-file {
	cursor: pointer;
	color: #00b1ca;
	font-size: 26px;
}

.label-file:hover {
	color: #25a5c4;
}

.input-file {
	display: none;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}